$brand: #FBEEC1;
$article-text-color: #8D8741;
$edge-bg-color: #050505;
$highlight: #F5CD61;
$article-bg-color: #FAFAD0;
$article-bg-color2: white;
$university-icon-color: #EFF1F7;
$button-bg-color: #CDDE4A;
$button-color: $edge-bg-color;