@import 'globals/colors';
@import 'globals/hover';

footer {
	background-color: $edge-bg-color;
	color: $brand;

	.margin-bottom {
		margin-bottom: 10rem;
	}

	.container-fluid {
		width: 100%;
		text-align: center;

		div[class^="col"]:first-child div[class^="col"] {
			padding: 1rem;
			margin-right: 0;
			border-style: solid;
			border-color: $edge-bg-color;
			border-width: 0.5rem;
			border-radius: 1rem;
			margin-top: 1rem;
			text-align: center;
			background-color: $university-icon-color;
		}

		nav a {
			@include hoverEffect($highlight)
		}

		ul {
			display: inline-flex;
			margin-left: 30%;
			text-align: center;
		}
	}

	.copyright {
		margin-top: 10rem;
		text-align: auto;
	}

	
}