@import 'globals/colors';

@import 'components/common-styles';
@import 'components/nav';
@import 'components/media-query';
@import 'components/header';
@import 'components/article';
@import 'components/footer';

article {
	.container-fluid {
		#goal {
			margin-top: 5rem;
		}
	}

	aside {
		background-color: $highlight;
		height: 80%;

		img {
			width: 100%;
		}
	}

	button {
		margin-left: 40%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}
