$non-article-text-color: #FBEEC1;
$article-text-color: #8D8741;
$edge-bg-color: #050505;
$link-color: #F5CD61;
$article-bg-color: #FAFAD0;
$article-bg-color2: white;
$university-icon-color: #EFF1F7;

html {
	width: 100%;
	font-family: 'Gudea', sans-serif;
}

.heading {
	font-family: 'Share Tech', sans-serif;
}

a {
	text-decoration: none;
	color: $link-color;
	margin: 1rem;
}

nav {
	color: $non-article-text-color;
	background-color: $edge-bg-color;
}

.inline {
	display: inline-flex;
}

.block {
	display: block;
}

button {
	border-radius: 1rem;
	padding: 1rem;
	color: $link-color;
	margin-left: 2rem;
}

.section {
	padding: 5rem;
	width: 100%;
}

.fa-instagram {
	margin-left: 5rem;
}

.fa-facebook {
	margin-left: 10rem;
}

#upper-nav {
	display: inline-flex;
	width: 100%;

	div	{
		padding: 1rem;
		margin: 1rem;

	}

	ul {
		margin: 1rem;
		margin-left: 20%;
	}
}

header {

	.left-header {
		margin: auto;
	}

	.right-header {
		margin: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;

		img {
			width: 125%;
		}
	}
}

article {
	background-color: $article-bg-color;
	color: $article-text-color;

	.container-fluid {
		width: 90%;
		margin-top: 3rem;
		margin-left: 0;

		#goal {
			margin-top: 5rem;
		}

		.deco-pic {
			width: 70%;
		}

		.person-pic {
			width: 50%;
		}

		div[class^="right"] {
			text-align: right;
		}

		div[class^="center"] {
			text-align: center;
		}
	}

	aside {
		background-color: $link-color;
		height: 80%;
	}

	button {
		margin-left: 40%;
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
}

article[class^="white"] {
	background-color: $article-bg-color2;
}

footer {
	background-color: $edge-bg-color;
	color: $non-article-text-color;

	.container-fluid {
		width: 50%;
		margin-right: 0;

		div[class^="col"] {
			margin-right: 1rem;
			border-style: solid;
			border-color: $university-icon-color;
			border-width: 0.05rem;
			border-radius: 1rem;
			margin-top: 1rem;
			text-align: center;
			background-color: $university-icon-color;
		}
	}

	nav {
		margin-right: 10rem;
	}

	.copyright {
		margin-top: 10rem;
		text-align: auto;
	}
}
